name: "ByteStash"
version: "1.5.10"
slug: bytestash
description: "Self-hosted code snippet server (ByteStash) by jordan-dalby"
url: "https://github.com/jordan-dalby/ByteStash"
changelog: "https://github.com/jordan-dalby/ByteStash/releases/tag/v{version}"
codenotary: codenotary@frenck.dev
webui: http://[HOST]:[PORT:5000]
init: false
arch:
  - aarch64
  - amd64
  - armv7
map:
  - addon_config:rw
  - share:rw
  - media:rw
ports:
  5000/tcp: 5000
