name: Tracktor addon update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Bump addon version
        run: |
          VERSION=$(date +'%Y.%m.%d')
          sed -i "s/version:.*/version: \"$VERSION\"/" config.yaml

      - name: Commit & push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "Auto-update Tracktor ($VERSION)" || exit 0
          git push
